@model ICollection<BrandGetDto>
@{
    int Number = 0;
}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Control Panel - Create Form</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Control Panel</a></li>
                                <li class="breadcrumb-item active">Brand</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h2 class="card-title">Index Brand</h2>
                                </div>
                                <div class="col-lg-6">
                                    <a asp-controller="Brand" asp-action="Trash" class="btn btn-lg btn-warning btn-rounded float-end">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                    <a asp-controller="Brand" asp-action="Create" class="btn btn-lg btn-success btn-rounded float-end me-2">
                                        Create
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-rep-plugin">
                                <div class="table-responsive mb-0" data-pattern="priority-columns">
                                    <table id="brand-table" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Title</th>
                                                <th>Description</th>
                                                <th>Image</th>
                                                <th class="text-end">Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                Number++;
                                                <tr>
                                                    <th><p class="mt-2">@Number</p></th>
                                                    <td><p class="mt-2">@item.Title</p></td>
                                                    <td><p class="mt-2">@item.Description</p></td>
                                                    <td>
                                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#imageModal-@item.Id">
                                                            <button class="btn btn-dark btn-rounded waves-effect waves-light mt-1" disabled>
                                                                <i class="fa-solid fa-image"></i>
                                                            </button>
                                                        </a>

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="imageModal-@item.Id" tabindex="-1" aria-labelledby="imageModalLabel-@item.Id" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="imageModalLabel-@item.Id">@item.Title</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body text-center">
                                                                        <img src="~/Uploads/@item.ImageUrl" class="img-fluid" alt="@item.Title" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-end">
                                                        <a asp-controller="Brand" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary btn-rounded waves-effect waves-light">
                                                            <i class="fa-solid fa-pen"></i>
                                                        </a>
                                                        <a asp-controller="Brand" asp-action="SoftDelete" asp-route-id="@item.Id" class="btn btn-warning btn-rounded waves-effect waves-light">
                                                            <i class="fa-solid fa-rotate-right"></i>
                                                        </a>
                                                        <a asp-controller="Brand" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-rounded waves-effect waves-light">
                                                            <i class="fa-solid fa-delete-left"></i>
                                                        </a>
                                                        <a href="javascript:void(0);" data-id="@item.Id" class="btn btn-info btn-rounded waves-effect waves-light btn-detail">
                                                            <i class="fa-solid fa-info"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div>
        </div>
    </div>

    <!-- 📌 Modal (Brand Detail) -->
    <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="detailModalContent">
                <!-- AJAX ile içerik yüklenecek -->
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © MartX.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Design & Develop by <a href="#!" class="text-decoration-underline">Themesbrand</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- 📌 AJAX ile Modal İçeriğini Yükle -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $(document).on("click", ".btn-detail", function () {
            var brandId = $(this).data("id");

            $.ajax({
                url: "/Brand/Detail/" + brandId,
                type: "GET",
                success: function (data) {
                    $("#detailModalContent").html(data);
                    $("#detailModal").modal("show");
                },
                error: function () {
                    alert("Error loading brand details.");
                }
            });
        });
    });
</script>

