 @model DepartmentGetDto;
<div class="main-content">

    <div style="position: relative; left: 500px; top: 100px;">
        <div class="col-md-6 col-xl-3">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@Model.Title</h4>
                    <p class="card-text">
                        @Model.Description
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Deleted Situation: @Model.IsDeleted</li>
                    <li class="list-group-item">Created Date: @Model.CreatedAt</li>
                    @if (Model.UpdatedAt != DateTime.Parse("1.01.0001 00:00:00"))
                    {
                        <li class="list-group-item">Updated Date: @Model.UpdatedAt</li>
                    }
                    @if (Model.DeletedAt != DateTime.Parse("1.01.0001 00:00:00"))
                    {
                        <li class="list-group-item">Deleted Date: @Model.DeletedAt</li>
                    }
                </ul>
                <div class="card-body">
                    <a asp-controller="Brand" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary btn-rounded waves-effect waves-light mt-1 ms-2">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    <a asp-controller="Brand" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-rounded waves-effect waves-light mt-1 ms-2">
                        <i class="fa-solid fa-delete-left"></i>
                    </a>
                    <a asp-controller="Brand" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-dark text-light btn-rounded waves-effect waves-light mt-1 ms-2 float-end">
                        Go Back
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!-- End Page-content -->
    <br /> <br /> <br /> <br /> <br />

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © Minia.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Design & Develop by <a href="#!" class="text-decoration-underline">Themesbrand</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- end main content--> 